<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
      <!-- 开启驼峰自动映射 -->
      <setting name="mapUnderscoreToCamelCase" value="true" />
      <!-- 打印查询语句 -->
      <setting name="logImpl" value="STDOUT_LOGGING" />
   </settings>
   <!--别名-->
   <typeAliases>
      <package name="cn.edu.scut.entity"/>
   </typeAliases>
   <!-- <databaseIdProvider type="DB_VERDOR">
        <property name="SQL Server" value="sqlserver"></property>
        <property name="DB2" value="db2"></property>
        <property name="Oracle" value="oracle"></property>
        <property name="MySQL" value="mysql"></property>
        <property name="PostGreSQL" value="postgresql"></property>
        <property name="HSQL" value="hsql"></property>
        <property name="H2" value="h2"></property>
    </databaseIdProvider> -->
   <plugins>
      <plugin interceptor="com.lomen.mybatisdemo.plugin.pagehelper.PageInterceptor">
         <property name="dialect" value="com.lomen.mybatisdemo.plugin.pagehelper.MysqlDialect" />
      </plugin>
   </plugins>

</configuration>